{% extends 'tela_inicial/layout_base.html' %}

{% block conteudo %}
<div class="container py-5 text-center">
  <h1 class="mb-4">Painel do Secretário</h1>

  <!-- BOTÕES -->
  <a class="btn btn-secondary" href="{% url 'aluno_list' %}">Listar Alunos</a>
  <a class="btn btn-secondary" href="{% url 'aluno_matricular' %}">Matricular Aluno</a>
  <a class="btn btn-secondary" href="{% url 'aula_list' %}">Relatório de Aulas</a>
  <a class="btn btn-secondary" href="{% url 'periodo_list' %}">Gerenciar Trimestres</a>

</div>
{% endblock conteudo %}
